@use 'mixins' as *;
@use 'base';
@use '_abstracts';
/*



###############
UTILITY CLASSES
###############
*/
.primary-heading{
    font-family: var(--ff-secondary);
    font-size: var(--fs-700);
    color: var(--clr-neutral-300);
    text-transform: uppercase;
}
/*



##############
GENERAL STYLES
##############
*/
body{
    font-family: var(--ff-base);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-neutral-300);
    min-height: 100vh;
    min-height: 100svh;
}
/*



#############
LAYOUT STYLES
#############
*/
.card{
    max-width: 24rem;
    margin: 5.5rem var(--size-550);
    display: grid;
    border-radius: var(--size-100);
    overflow: hidden;

    @include width-above(50em){
        grid-template-columns: repeat(3, 1fr);
        max-width: 57rem;
        margin: var(--size-850);
    }

    &__section{
        padding: var(--size-825);

        &:nth-child(1){
            background-color: var(--clr-primary-400);
            color: var(--clr-primary-400);
        }
        &:nth-child(2){
            background-color: var(--clr-primary-600);
            color: var(--clr-primary-600);
        }
        &:nth-child(3){
            background-color: var(--clr-primary-700);
            color: var(--clr-primary-700);
        }
    }

    &__icon{
        width: var(--size-950);
        margin-bottom: var(--size-750);
    }

    &__title{
        margin-bottom: var(--size-600);
    }

    &__description{
        color: var(--clr-neutral-200);
        margin-bottom: var(--size-500);
        line-height: 1.6;

        @include width-above(50em){
            margin-bottom: 5.25rem;
        }
    }

    &__button{
        max-width: 9.25rem;
        width: 100%;
        height: var(--size-850);
        cursor: pointer;
        border-radius: 100vmax;
        background-color: var(--clr-neutral-100);
        transition: background-color 0.15s ease, color 0.15s ease;

        @include hover{
            background: transparent;
            color: var(--clr-neutral-100);
            border: 2px solid var(--clr-neutral-100);
        }
    }
}
